@{
    ViewData["Title"] = "Dummy Page 1";
}

<h2>Dummy Page 1</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.WelcomeMessage</h5>
        <p class="card-text">
            This is exclusive content that only approved renters can access. 
            You're seeing this because your profile has been approved by the admin.
        </p>
        <hr />
        <div class="mt-4">
            <h6>Special Features for Approved Renters:</h6>
            <ul>
                <li>Access to community resources</li>
                <li>Online maintenance requests</li>
                <li>Apartment community events</li>
                <li>Special discount programs</li>
            </ul>
        </div>
    </div>
</div> 